body {
    font-family: Arial, sans-serif;
    font-size: large;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.search-bar {
    text-align: center;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-bar input {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button:hover{
    background: #ff4408;
    border : solid black 2px;
}

button {
    background: #ff916f;
    border: none;
    padding: 10px 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border 0.2s decay-in-out;
}

button img{
    width: 50px;
    height: 50px;
}